{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Annee_edition</th>
                <th>Nombre_pages</th>
                <th>Code_isbn</th>
                <th>Disponibilité</th>
                <th>Auteur</th>
                <th>Genre</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td><a href="{{ path('livre_show', {'id': livre.id}) }}">{{ livre.titre }} </a></td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.codeIsbn }}</td>
                {% if livre.isAvailable %}
                <td class="available">Disponible</td>
                {% else %}
                <td class="no-available">Non disponible</td>
                {% endif %}
                <td>{{ livre.auteur.nom}}{{ livre.auteur.prenom}}</td>
                <td>
                        {% if livre.genres %}
                            {% for genre in livre.genres %}
                            {{ genre.nom }}
                            {% endfor %}
                        {% endif %}
                </td>

                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('livre_new') }}">Create new</a>
    {% endif %}

{% endblock %}
